.wrapper {
  width: 100%;
}

.logo {
  padding: 10px;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.step {
  position: relative;
  padding: 12px 20px;
  background-color: #d9d9d9;
  color: #000;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}

.step::before,
.step::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 1;
}

.step::before {
  left: -20px;
  border-right: 20px solid #d9d9d9;
}

.step::after {
  right: -20px;
  border-left: 20px solid #d9d9d9;
}
.step:last-child::after {
  display: none;
}
.active {
  background-color: #000;
  color: #fff;
  z-index: 2;
}

.active::before {
  border-right-color: #000;
}

.active::after {
  border-left-color: #000;
}
