.wrapper{
    width:100%;
    padding:10px;
    background-color: #EFEFEF;
}

.paymentbox{
    padding:10px;
    background-color: #fff;
    min-height: 500px;
}

.textBox{
    text-align: center;
    margin-top:200px;
    font-size: 18px;
}

.closeButton{
    border:1px solid #000;
    padding:10px 90px;
    border-radius:5px;
    background-color: #fff;
    margin-top: 20px;
}