.sidebar {
  width: 180px;
  font-size: 14px;
  min-width: 180px;
}

.mypage {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
}
.welcome {
  margin-bottom: 20px;
  font-weight: bold;
}

.menu {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
}
.menu h3 {
  margin-top: 20px;
  font-size: 16px;
}

.menu p {
  margin: 5px 0;
  cursor: pointer;
}

.content {
  flex: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
