.rightPanel {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.selectGrade{
 display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 10px;
}

.selectGradePreview{
  width:100%;
}
.map {
  width: 100%;
  height: 140px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.gradeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.resetButton {
  padding: 4px 10px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.divider {
  width: 100%;
  border: 1px solid #000;
}

.gradeList {
  width: 100%;
}
.divide{
  width:100%;
}
.notice {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  font-size: 13px;
}

.selector {
  width: 100%;
  display: flex;
}

.selectSeatBox{
    flex: 2;
  padding: 6px;
  border: 1px solid #000;
}

.selectCountBox{
    flex: 1;
  padding: 6px;
  border: 1px solid #000;
}
.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.prevButton,
.nextButton {
  flex: 1;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.prevButton {
  border: 1px solid #000;
  background: #fff;
}

.nextButton {
  background: #000;
  color: #fff;
}