.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  border: none;
  padding: 8px 0;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
}

.error {
  color: red;
  font-size: 10px;
}
.verifyButton {
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #aaa;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.submitButton {
  padding: 10px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}
