.sidebar {
  width: 140px;
  min-width: 140px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  height: fit-content;
}
.sidebarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.sidebarSection{
  padding:10px 0px;
  border-bottom:1px solid #ddd;
}
.sidebarSection:nth-child(4){
  border-bottom:none;
}

.sidebarSectionTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebarList li {
  font-size: 13px;
}
.sidebarList li a {
  color: #666;
  text-decoration: none;
  padding: 2px 0;
  display: block;
}
.sidebarList li a:hover,
.sidebarList li.active a {
  color: #007bff;
  font-weight: bold;
}

.sidebarSection .active a{
  color:#007bff;
  font-weight: bold;
}